{% extends "appsushi/base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block contenido %}
<div class="container  mt-5 ">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 shadow rounded p-5 border">
            <div><h3>Crear Producto</h3></div>
            <form action="" method="post">
                {% csrf_token %}
                {{form | crispy }}
                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                <p>{{metodo}}</p>
            </form>
        </div>
        <div class="col-sm-3"></div>


    </div>


</div>



{% endblock contenido %}